.body{
    display: flex;
    background-color: #ff0000;
}

.AlternativaUm{
    width: 300px;
    height: 175px;
    background-color: red;
    border-radius: 15px;
    border-width: 5px;
    border-color: aqua;
    border-style: solid;
    text-align: center;
    text-decoration-style: none;
    
}
.AlternativaUm:hover{
    background-color: rgb(247, 0, 255);
}